.due-date-container {
  box-sizing: border-box;
  margin: 0px;
}

.due-date-label {
  font-size: 12px;
}

.due-date-value {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
}

.due-date-value-small {
  font-size: 12px;
}