.display-line-break {
  white-space: pre-line;
  padding-top: 20px;
  font-size: 12px;
}

.invoice-number-title {
  color: #838383;
  font-size: 12px;
  margin: 0px;
}

.invoice-number-content {
  font-size: 18px;
  font-weight: 600;
}