.client-info-container{
  margin: 0px;
}

.client-info, .client-info span {
  color: #838383;
  font-size: 12px;
  margin: 0px;
}

.client-contact, .client-contact span {
  color: #838383;
  font-size: 12px;
  margin-top: 18px;
}

.client-attn {
  color: #838383;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
}

.client-name {
  font-size: 22px;
  margin-bottom: 5px;
}